<%= render 'shared/page_title', title: "All Developers" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Programs", programs_path %>
  </li>  
  <li class="active">
    <%= link_to "Developers", developers_path %>
  </li>  
</ul>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>  
</div>  

<% @developers.each do |developer| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= link_to gravatar_for(developer, size: 200), developer_path(developer)%>
      <p>
        <h5>Developer name: <%= developer.developername %></h5>
      </p>  
    </div>  
  </div>
<% end %>