<%= render 'shared/page_title', title: "All Programs" %>

<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "Programs", programs_path %>
  </li>  
  <li>
    <%= link_to "Developers", developers_path %>
  </li>  
</ul>

<%= will_paginate %>

<% @programs.each do |program| %>
  <div class="row">
    <div class="col-md-2">
      <section class="developer_info center">
        <%= link_to gravatar_for(program.developer, size: 100), developer_path(program.developer) %>
        <h5>Developer name: <%= program.developer.developername %></h5>
      </section>  
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to program.name, program_path(program) %></h4>
      <p><%= program.summary %></p>
      <p>
        <span class='quiet'><small> <strong>Created</strong>: <%= time_ago_in_words(program.created_at) %> ago, </small></span>
        <span class='quiet'><small> <strong>Updated</strong>: <%= time_ago_in_words(program.updated_at) %> ago</small></span>
      </p>  
      <div class="pull-right">
        <%= link_to like_program_path(program, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= program.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_program_path(program, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= program.thumbs_down_total %>
        <% end %>
      </div>
    </div>  
    <div class="col-md-4">
      <%= image_tag(program.picture.url, size: "250x150", class: "gravatar") if program.picture? %>
    </div>  
  </div>  
  <hr/>
<% end %>

<%= will_paginate %>



