<%= render 'shared/page_title', title: @program.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= gravatar_for @program.developer, size: 200 %>
    <p>
      <h5>Code written by: <%= @program.developer.developername %></h5>
    </p>  
  </div>  
  <div class="col-md-8"> 
    <%= link_to "Edit this Program", edit_program_path(@program), class: "btn btn-success pull-right" %>
    <h3><%= @program.summary %></h3>
    <div class="show_program">
      <%= image_tag(@program.picture.url, class: "gravatar") if @program.picture? %>
    </div>  
    <div class="well">
      <p>
        <strong>Permissions:</strong>
      </p>  
      <%= simple_format(@program.description) %>
      <div class="pull-right">
        <%= link_to like_program_path(@program, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @program.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_program_path(@program, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @program.thumbs_down_total %>
        <% end %>
      </div> 
    </div>  
  </div>  
</div>  

<h5><%= link_to 'Return to Programs List', programs_path, class: "btn btn-info btn-small" %></h5>